<agm-map [latitude]="lat" [longitude]="lng">
    <!-- <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="../assets/index.jpeg"></agm-marker> -->
    <agm-marker *ngFor="let marker of mapMarker" (markerClick)="markerClicked(marker)"
    [latitude]="marker.lat"
    [longitude]="marker.long" [iconUrl]="marker.url">
        <agm-info-window>

            <h3>Pollutant value:{{marker.name}}</h3>
            <h4>latitude:{{marker.lat}}</h4>
            <h4>longitude:{{marker.long}}</h4>
        </agm-info-window>
    </agm-marker>
</agm-map>

<!-- <div *ngIf="show==true"> -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h1>Street name</h1>
        <a href="#">{{details.time}}</a>
        <a href="#">{{Services}}</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
<!-- </div> -->





