<!-- <mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav mode="side" opened="true" class="sidenav"
				 [fixedInViewport]="true"></mat-sidenav>
	<mat-sidenav-content>
		<app-heder-comp></app-heder-comp>
		<app-rightnavbar></app-rightnavbar>
	</mat-sidenav-content>
</mat-sidenav-container> -->


<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav"
    [fixedInViewport]="true"></mat-sidenav>
    <mat-sidenav-content>
        <app-heder-comp></app-heder-comp>
        <app-rightnavbar></app-rightnavbar>

      </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <mat-sidenav-container>
      <mat-sidenav #sidemenu mode="side" opened="true" class="sidemenu"
      [fixedInViewport]="true"></mat-sidenav>
      <mat-sidenav-content>
          <app-heder-comp></app-heder-comp>
          <app-rightnavbar></app-rightnavbar>
        </mat-sidenav-content>
    </mat-sidenav-container> -->